  /* Responsive for medium screens */
  @media (max-width: 768px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 200px;
        align-items: center;
        padding: 15px 30px;
        background-color: #fff;
        border-bottom: 2px solid #ddd;
        z-index: 1000;
    }
    header .menu {
        display: none;
    }

    header .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    header .menu.active {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        padding: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 9999; /* Ensure the menu is on top */
    }

    header .menu.active a {
        margin: 10px 0;
    }
    .success_padding{
        padding: 3px 10px;
    }
    
}

/* Responsive for small screens */
@media (max-width: 480px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        padding: 15px 30px;
        background-color: #fff;
        border-bottom: 2px solid #ddd;
        z-index: 1000;
    }
    .carousel-item h1 {
        font-size: 2rem;
    }

    .carousel-item p {
        font-size: 1.2rem;
    }

    .carousel-item .offer {
        font-size: 1.5rem;
    }
    .success_padding{
        padding: 3px 5px;
    }
    
}


@media (min-width: 1100px) {
    .custom-container {
        max-width: 1100px;
    }
}